/* nuds color system - user defined values */
/* --------------------------------------- */
@custom-selector :--palette-match [class*="cp-"], :--color-palette-match;
@custom-selector :--palette-alt-classic
  .cp-alt-classic,
  :--color-palette-alt-classic;
@custom-selector :--palette-alt-contrast
  .cp-alt,
  .cp-alt-contrast,
  :--color-palette-alt-contrast;

:root {
  /* Bare minimum default in case nothing is defined */
  color: var(--color-text, #050505);
}

/* Assign the palette colors to elements */
body,
:--palette-match {
  /* --- DEFAULTS --- */
  --color-text: var(--color-front-theme);
  --color-bg: var(--color-back-theme);
  /* --color-border: var(); */
  /* --color-outline: var(); */
  --color-text-decoration: var(--color-front-accent-theme);
  /* --color-text-emphasis: var(); */
  /* --color-shadow has to be used manually in box-shadow definitions */
  --color-shadow: var(--color-front-muted-theme);
  /* --color-caret: var(); */
  /* --color-column-rule: var(); */
  /* --color-fill: var(); */
  /* --color-stroke: var(); */

  /* --- FOCUS --- */
  /* --color-outline--focus: var(); */

  /* --- SELECTION --- */
  --color-text--selection: var(--color-back-theme);
  --color-bg--selection: var(--color-front-accent-theme);

  /* --- A --- */
  /* --color-text__a: var(--color-text); */
  /* --color-bg__a: transparent; */
  --color-text__a--hover: var(--color-front-accent-theme);
  /* --color-bg__a--hover: var(--color-back-theme); */

  /* --- BUTTON --- */
  --color-text__button: var(--color-text);
  --color-bg__button: var(--color-bg);
  --color-text__button--hover: var(--color-front-accent-theme);
  --color-bg__button--hover: var(--color-bg);
  /* --color-text__button--disabled: var(--color-front-accent-theme); */
  /* --color-bg__button--disabled: var(--color-bg); */

  /* --- CODE --- */
  /* --color-text__code: var(--color-bg); */
  /* --color-bg__code: var(--color-front-accent-theme); */
  /* --color-border__code: var(--color-front-theme); */

  /* --- SCROLLBAR --- */
  /* TODO: this is for the Reel Layout Component */
  /* --track-color */
  /* --thumb-color */
  /*  */

  /* nuds color system - default rules and values */
  /* -------------------------------------------- */
  /* Default variable names and fallback values for every css color-related properties */
  /* Note: We provide a fallback value in case custom properties are supported but the variable is not set for some reason */
  color: var(--color-text);
  background-color: var(--color-bg);
  /* other properties have a fallback of 'currentcolor' so we don't have to set a value if we are fine with that */
  border-color: var(--color-border, currentcolor);
  outline-color: var(--color-outline, currentcolor);
  text-decoration-color: var(--color-text-decoration, currentcolor);
  text-emphasis-color: var(--color-text-emphasis, currentcolor);
  caret-color: var(--color-caret, currentcolor);
  column-rule-color: var(--color-column-rule, currentcolor);
  fill: var(--color-fill, currentcolor);
  stroke: var(--color-stroke, transparent);
}

/* More variable names definitions and fallback values for css selectors */
*:--focus,
:--palette-match:--focus,
:--palette-match *:--focus {
  outline-color: var(
    --color-outline--focus,
    var(--color-outline, currentcolor)
  );
}
*:--selection,
:--palette-match:--selection,
:--palette-match *:--selection {
  color: var(--color-text--selection);
  background-color: var(--color-bg--selection);
  border-color: var(--color-border--selection, currentcolor);
}
a,
a:--palette-match,
:--palette-match a {
  color: var(--color-text__a);
  background-color: var(--color-bg__a);
  border-color: var(--color-border__a, currentcolor);
}
a:--hover,
a:--palette-match:--hover,
:--palette-match a:--hover {
  color: var(--color-text__a--hover);
  background-color: var(--color-bg__a--hover);
  border-color: var(--color-border__a, currentcolor);
}
:--button,
:--button:--palette-match,
:--palette-match :--button {
  color: var(--color-text__button);
  background-color: var(--color-bg__button);
  border-color: var(--color-border__button, currentcolor);
}
:--button:--hover,
:--button:--palette-match:--hover,
:--palette-match :--button:--hover {
  color: var(--color-text__button--hover);
  background-color: var(--color-bg__button--hover);
  border-color: var(--color-border__button--hover, currentcolor);
}
:--button:--disabled,
:--button:--palette-match:--disabled,
:--palette-match :--button:--disabled {
  color: var(--color-text__button--disabled);
  background-color: var(--color-bg__button--disabled);
  border-color: var(--color-border__button--disabled, currentcolor);
}
:--code,
:--code:--palette-match,
:--palette-match :--code {
  color: var(--color-text__code);
  background-color: var(--color-bg__code);
  border-color: var(--color-border__code);
}
/* End of variables assignments and fallback values */

/* Every element inherits colors for the closest defined parent */
body *,
:--palette-match * {
  color: inherit;
  /* ... except for the background that should probably just remain transparent */
  /* background-color: inherit; */
  /* Note: if we want to enforce an inherited background, we can set a class of "color-palette-" on an element */
  border-color: inherit;
  outline-color: inherit;
  text-decoration-color: inherit;
  text-emphasis-color: inherit;
  caret-color: inherit;
  column-rule-color: inherit;
}

/* This is useful to be able to use variations of the same palette */
:root {
  /* --color-neutral: var(--color-neutral);
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary); */

  /* -- Variable name ideas -- */
  /* colorTertiary */
  /* highlight */
  /* muted */
  /* dimmed */
  /* Success */
  /* Warning */
  /* Danger */
  /* Dark */
  /* Medium */
  /* Light */
  /* — background-color and text color in each of the 4 states:
    - Resting
    - Hover
    - Focus
    - Disabled */

  /* --color-alt-theme: var(--color-alt);
  --color-accent-theme: var(--color-accent);
  --color-muted-theme: var(--color-muted);
  --color-success-theme: var(--color-success);
  --color-warning-theme: var(--color-warning);
  --color-error-theme: var(--color-error); */

  --color-front-theme: var(--color-front); /* prettier-ignore */
  --color-front-alt-theme: var(--color-front-alt, var(--color-alt-theme)); /* prettier-ignore */
  --color-front-accent-theme: var(--color-front-accent, var(--color-accent-theme)); /* prettier-ignore */
  --color-front-muted-theme: var(--color-front-muted, var(--color-muted-theme)); /* prettier-ignore */
  --color-front-success-theme: var(--color-front-success, var(--color-success-theme)); /* prettier-ignore */
  --color-front-warning-theme: var(--color-front-warning, var(--color-warning-theme)); /* prettier-ignore */
  --color-front-error-theme: var(--color-front-error, var(--color-error-theme)); /* prettier-ignore */
  --color-back-theme: var(--color-back); /* prettier-ignore */
  --color-back-alt-theme: var(--color-back-alt); /* prettier-ignore */
  --color-back-accent-theme: var(--color-back-accent); /* prettier-ignore */
  --color-back-muted-theme: var(--color-back-muted); /* prettier-ignore */
  --color-back-success-theme: var(--color-back-success); /* prettier-ignore */
  --color-back-warning-theme: var(--color-back-warning); /* prettier-ignore */
  --color-back-error-theme: var(--color-back-error); /* prettier-ignore */
}

/* color palette ALTernate assignments */
:--palette-alt-classic,
:--palette-match {
  --color-front-theme: var(--color-front); /* prettier-ignore */
  --color-front-alt-theme: var(--color-front-alt); /* prettier-ignore */
  --color-front-accent-theme: var(--color-front-accent); /* prettier-ignore */
  --color-front-muted-theme: var(--color-front-muted); /* prettier-ignore */
  --color-front-success-theme: var(--color-front-success); /* prettier-ignore */
  --color-front-warning-theme: var(--color-front-warning); /* prettier-ignore */
  --color-front-error-theme: var(--color-front-error); /* prettier-ignore */
  --color-back-theme: var(--color-back); /* prettier-ignore */
  --color-back-alt-theme: var(--color-back-alt); /* prettier-ignore */
  --color-back-accent-theme: var(--color-back-accent); /* prettier-ignore */
  --color-back-muted-theme: var(--color-back-muted); /* prettier-ignore */
  --color-back-success-theme: var(--color-back-success); /* prettier-ignore */
  --color-back-warning-theme: var(--color-back-warning); /* prettier-ignore */
  --color-back-error-theme: var(--color-back-error); /* prettier-ignore */
}
:--palette-alt-contrast {
  --color-front-theme: var(--color-back); /* prettier-ignore */
  --color-front-alt-theme: var(--color-back-alt); /* prettier-ignore */
  --color-front-accent-theme: var(--color-back-accent); /* prettier-ignore */
  --color-front-muted-theme: var(--color-back-muted); /* prettier-ignore */
  --color-front-success-theme: var(--color-back-success); /* prettier-ignore */
  --color-front-warning-theme: var(--color-back-warning); /* prettier-ignore */
  --color-front-error-theme: var(--color-back-error); /* prettier-ignore */
  --color-back-theme: var(--color-front); /* prettier-ignore */
  --color-back-alt-theme: var(--color-front-alt); /* prettier-ignore */
  --color-back-accent-theme: var(--color-front-accent); /* prettier-ignore */
  --color-back-muted-theme: var(--color-front-muted); /* prettier-ignore */
  --color-back-success-theme: var(--color-front-success); /* prettier-ignore */
  --color-back-warning-theme: var(--color-front-warning); /* prettier-ignore */
  --color-back-error-theme: var(--color-front-error); /* prettier-ignore */
}
